body {
  background-color: #fff;
  padding: 20px
}
#myQuiz {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #000 url(../img/quiz.jpg);
  max-width: 100%;
  background-size: cover;
  width: 650px;
  height: 650px;
}

#myQuiz h1 {
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0px;
  position: absolute;
  top: 25px;
  left: 36px;
}

#myQuiz h2 {
  font-size: 3em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz h3 {
  font-size: 2.4em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz p {
  margin: 0px 0px 14px 0px;
}

#myQuiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;

}

/*Intro*/
#myQuiz .intro {
  position: absolute;
  top: 225px;
  left: 660px;
  width: 550px;
}

#myQuiz .intro p {
  margin: 0px 0px 40px 0px;
}
























#main {
  background-image: url(../img/background.jpg);
  max-width: 100%;
  background-size: cover;
}
.tardis {
  margin-top: 5%;
  margin-left: 15%;
}

#soon {
  background-color: #636363;
  max-width: 100%;
  background-size: cover;
}
#soon ul {
  text-align: center;
  color: #2f3333;
  font: bold 4rem/1.5 'Audiowide', cursive;
  list-style: none;
  display:inline-block;
  width: 50%;
}
.cyberman {
  float: right;
  margin-top: 8%;
  margin-right: 5%;
}

.text2 {
  margin-top: 5%;
}
.text3 {
  margin-top: 5%;
}
#right {
  float: right;
  padding: 20px;
}
.text5 {
  margin-top: 5%;
}

.text6 {
  margin-top: 5%;
}

#quiz {
  background-image: url(../img/quiz.jpg);
  max-width: 100%;
  background-size: cover;
}

#question{
  font: bold 5rem/1.5 'Righteous', cursive;
  width: 50%;
  color: #fff982;
  text-align:center;
  display: inline-block;
  margin-right: 20px;
}
#answer{
  width: 45%;
  float: right;
}
.quiz {
  width: 200px;
  height: 300px;
  color: white;
  font: bold 2rem/1.5 'Righteous', cursive;
  border: 0;
}
.blue{
  background-color: rgba(11, 27, 144, 0.9);
}
.orange{
  background-color: rgba(238, 118, 18, 0.9);
}

.one {
  clear:left;
  margin: 70px 10px 15px 10px;
  padding: 20px;

}
.two {
  clear: right;
  float: right;
  margin: 70px 125px 50px 25px;
  padding: 20px;
}
.three {
  clear: both;
  float: left;
  margin: 70px 10px 15px 10px;
  padding: 20px;
}

.four {
  float: right;
  margin: 70px 125px 15px 10px;
  padding: 20px;
}
