

#main {
  background-image: url(../img/background.jpg);
  max-width: 100%;
  background-size: cover;
}
.tardis {
  margin-top: 5%;
  margin-left: 15%;
}

#soon {
  background-color: #636363;
  max-width: 100%;
  background-size: cover;
}
#soon ul {
  text-align: center;
  color: #2f3333;
  font: bold 4rem/1.5 'Audiowide', cursive;
  list-style: none;
  display:inline-block;
  width: 50%;
}
.cyberman {
  float: right;
  margin-top: 8%;
  margin-right: 5%;
}

.text2 {
  margin-top: 5%;
}
.text3 {
  margin-top: 5%;
}
#right {
  float: right;
  padding: 20px;
}
.text5 {
  margin-top: 5%;
}

.text6 {
  margin-top: 5%;
}

#quiz {
  background-image: url(../img/quiz.jpg);
  max-width: 100%;
  background-size: cover;
}

#question{
  font: bold 5rem/1.5 'Righteous', cursive;
  width: 50%;
  color: #fff982;
  text-align:center;
  display: inline-block;
  margin-right: 20px;
}
#answer{
  width: 45%;
  float: right;
}
.quiz {
  width: 200px;
  height: 300px;
  color: white;
  font: bold 2rem/1.5 'Righteous', cursive;
  border: 0;
}
.blue{
  background-color: rgba(11, 27, 144, 0.9);
}
.orange{
  background-color: rgba(238, 118, 18, 0.9);
}

.one {
  clear:left;
  margin: 70px 10px 15px 10px;
  padding: 20px;

}
.two {
  clear: right;
  float: right;
  margin: 70px 125px 50px 25px;
  padding: 20px;
}
.three {
  clear: both;
  float: left;
  margin: 70px 10px 15px 10px;
  padding: 20px;
}

.four {
  float: right;
  margin: 70px 125px 15px 10px;
  padding: 20px;
}
