@media (max-width: 1285px){
  #quiz {
    background-image: url(../img/orange.jpg);
    max-width: 100%;
    background-size: cover;
  }
  #question {
    width: 100%;
  }
  #answer {
    width: 100%;
  }
  #answer button {
    width:40%;
    margin:4%;
    height:20%;
  }
}

@media (max-width: 1050px ){
  .cyberman {
    display: none;
  }
  #left {
    width: 75%;
  }
}

@media (max-width: 749px){
  #answer button {
    width:90%;
    margin:5%;
    height:10%;
    float: left;
    clear: both;
  }
}
