<div id="myQuiz">
  <div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active'}}">
    <h2>Welcome</h2>
    <p>Submit your name and click begin to test your knowledge of Doctor Who</p>
    <form ng-submit="submit()">
      <label> Name:</label>
      <input type="text" value="" name ="name">
      <input type="submit" value="Submit">
    </form>
    <p class="btn" ng-click="activeQuestion = 0">Begin</p>
  </div>
  <div class="question  {{ $index === activeQuestion ? 'active' : 'inactive'}} {{ myQuestion.questionState === 'answered' ? 'answered' : 'unanswered'}}" ng-repeat="myQuestion in myQuestions">
    <p class="txt">{{myQuestion.question}}</p>
    <p class="ans"
    ng-class="{selected:isSelected($parent.$index, $index), correct:isCorrect($parent.$index, $index)}"
    ng-click="selectAnswer($parent.$index, $index)"
    ng-repeat="Answer in myQuestions[$index].answers">{{Answer.text}}</p>
    <div class="feedback">
      <p ng-show="myQuestion.correctness === 'correct'">You are <strong>CORRECT!</strong></p>
      <p ng-show="myQuestion.correctness === 'incorrect'">Oops! That is NOT correct.</p>
      <div class="btn" ng-click="selectContinue()">Continue</div>
    </div>
  </div>
  <div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive'}}">
    <h3>Results</h3>
    <p> {{this.name}} scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>
    <p class="users"></p>
  </div>
</div>
