

body {
  padding: 20px;
  background: url(../img/quiz.jpg) no-repeat center center fixed;
  background-size: cover;
}
#myQuiz {
  font: bold 24px/1.5 'Righteous', cursive;
  color: #fff;

}
#myQuiz h2 {
  font-size: 3em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz h3 {
  font-size: 2.6em;
  margin: 0px;
  font-weight: 100;
}

#myQuiz p {
  margin: 0px 0px 14px 0px;
}

#myQuiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(11, 27, 144);
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 6px;

}

/*Intro*/
#myQuiz .intro {
  position: absolute;
  top: 50px;
  left: 660px;
  width: 50%;
  text-align: center;
}

#myQuiz .intro p {
  margin: 0px 0px 40px 0px;
}

/*questions*/
#myQuiz .question {
  width: 50%;
  position: absolute;
  top: 50px;
  left: 2000px;
}

#myQuiz .question .txt {
  font-size: 2em;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

#myQuiz .question .ans {
  display: inline-block;
  font-size: 1em;
  width: 40%;
  height: 50px;
  border: 2px solid rgba(11, 27, 144, .8);
  border-radius: 6px;
  padding: 10px;
  margin:  20px 15px 15px 10px;
  text-align: center;
}

#myQuiz .question .ans.selected {
  border-color: #be4b16;
}

#myQuiz .question .ans.correct {
  border-color: #459a2e;
}

#myQuiz .question .ans::after {
  content:'';
  display:block;
  width: 20px;
  height: 20px;
  background: no-repeat 0px 0px;
  background-size: 20px 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#myQuiz .question.unanswered .ans {
  cursor:pointer;
}

#myQuiz .question.unanswered .ans:hover {
  background-color: rgba(11, 27, 144, .8);
}

#myQuiz .question.answered .ans {
  cursor:default;
}

/*Feedback*/

#myQuiz .feedback {
  color: efbe5e;
  margin-top: 50px;
  transition: opacity 1.5s, margin-top 1.5s;
  visibility: hidden;
  opacity: 0;
}

#myQuiz .feedback .btn {
  margin-top: 5px;
}

#myQuiz .feedback strong {
  color: #fff;
}

#myQuiz .answered .feedback {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}

/*Results*/

#myQuiz .results {
  position:absolute;
  top: 100px;
  left: 2000px;
  width: 50%;
  text-align: center;
}

#myQuiz .results .share {
  margin-top: 40px;
}

#myQuiz .results .share a.btn {
  margin: 10px;
  padding: 9px 15px 8px 42px;
  background-repeat: no-repeat;
  background-position: 10px 5px;
  background-size: 40px 40px;
  width: 250px;
}

#myQuiz .results .share a.btn.email {
  background-color: #f0a121;
  background-image: url(../img/icon_email.svg);

}

#myQuiz .results .share a.btn.twitter {
  background-color: #59adeb;
  background-image: url(../img/icon_twitter.svg);
}

#myQuiz .active, #myQuiz .inactive {
  transition: left 1.5s ease-in-out;
}

#myQuiz .active {
  left: 40px;
}

#myQuiz .intro.inactive, #myQuiz.inactive.answered {
  left: -1350px;
}
